* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/*BOOT CSS*/
.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
}

.w50 {
    width: 50%;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*ESTILIZAÇÃO DO SITE*/
header {
    padding: 10px 0;
    background: #3d437A;
}

header .logo{
    font-size: 23px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}