:root {
    --cor1: #fe958f;
    --cor2: #f3d7c2;
    --cor3: #8bb6a3;
    --cor4: #17a7a8;
    --cor5: #224f83;
    --cor6: #122f51;
    --cor_painel_1: #f05c54;
    --cor_painel_2: #a17457;
    --cor_painel_3: #5c735e;
    --cor_painel_4: #3d615b;
    --cor_painel_5: #5b5a5f;
    --cor_painel_6: #434247;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html,
body {
    height: 100%;
    background: rgb(225, 225, 225);
}

body {
    overflow-x: hidden;
}

/* === BOX ERRO DO PAINEL === */
.erro-box {
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background: var(--cor1);
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/* === PÁGINA DE LOGIN === */

.box-login {
    box-shadow: 5px 5px 2px rgb(200,200,200);
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.box-login h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0;
    color: #444;
}

.box-login input[type=text],
.box-login input[type=password] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 8px;
}

.box-login input[type=submit] {
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
    font-size: 14px;
    background: var(--cor3);
    color: white;
    border: 0;
}

/* === FIM PÁGINA DE LOGIN === */

/* === PÁGINA MAIN === */

.clear {
    clear: both;
}

.center {
    padding: 0 2%;
    margin: 0 auto;
}

header {
    position: relative;
    left: 250px;
    padding: 10px 0;
    background: var(--cor_painel_6);
    width: calc(100% - 250px);
}

.menu-btn {
    float: left;
    cursor: pointer;
    font-size: 17px;
    color: white;
}

.logout {
    float: right;
}

.logout a {
    padding: 0 20px;
    position: relative;
    top: 4px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.logout a>span {
    font-size: 16px;
    text-decoration: none;
}

.menu-wraper {
    width: 250px;
}

div.menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--cor_painel_4);
    float: left;
    width: 250px;
}

div.box-usuario {
    padding: 8px;
    text-align: center;
}

.avatar-usuario {
    text-align: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--cor_painel_6);
}

.avatar-usuario i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
    color: var(--cor_painel_6);
}

.imagem-usuario {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    border: 3px solid var(--cor_painel_6);
}

.imagem-usuario img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome-usuario {
    text-align: center;
    margin-top: 15px;
}

.nome-usuario p {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.itens-menu {
    margin-top: 30px;
}

.itens-menu h2 {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    background: #243d42;
    color: white;
    padding: 8px;
}

.itens-menu a {
    display: block;
    padding: 8px;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #2F3D42;
}

/* === FIM PÁGINA MAIN === */

/* CONTEÚDO PRINCIPAL DO PAINEL*/
.w100 {
    width: 100%;
}

.w50 {
    width: 49%;

}

.left {
    float: left;
}

.right {
    float: right;
}

.content {
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    padding: 2%;
}

.box-content {
    background: white;
    padding: 30px;
    margin-bottom: 25px;
}

.box-content h2 {
    font-weight: 300;
    font-size: 23px;
}
/* MÉTRICAS */
.box-metricas {
    margin-top: 16px;
    padding: 0 15px;
}

.box-metrica-single {
    float: left;
    position: relative;
    width: 33.3%;
    background: var(--cor2);
    border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2) {
    background: var(--cor1);
}

.box-metricas .box-metrica-single:nth-of-type(3) {
    background: var(--cor3);
}

.box-metrica-wraper {
    padding: 10px 20px;
    text-align: left;
    color: white;
}

.box-metrica-wraper h2 {
    font-size: 28px;
}

.box-metrica-wraper p {
    padding: 10px 0;
    font-size: 26px;
}

/* RESPONSIVO */
@media screen and (max-width: 1024px) {
    .box-metrica-single{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        left: 0;
    }

    header {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .menu-wraper {
        width: 200px;
    }
}